<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>v-blog</title>
  <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>  
  <link rel="stylesheet" href="/css/bootstrap.css">  <!-- nodejs的目录都要这么写 不然模板渲染会出问题 -->
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<%- include('header') %>
	<div class="container text-center blog_title">
		<h1><a href="/index/1" class="text-success">v-blog</a></h1>
			<% for(var i in users) { %>
				<% var hours =users[i].time.getHours()<10?'0'+users[i].time.getHours():users[i].time.getHours(); %>
				<% var minutes =users[i].time.getMinutes()<10?'0'+users[i].time.getMinutes():users[i].time.getMinutes(); %>
				<% var seconds =users[i].time.getSeconds()<10?'0'+users[i].time.getSeconds():users[i].time.getSeconds(); %>	
			<div class="row comment_box">
				<div class="col-md-3 col-sm-2">
					<div class="head text-right hidden-xs"><a href="/users/<%= users[i].author._id %>"><img src='/imgs/<%= users[i].author.headicon %>' tabindex="0" data-placement="bottom" class='user_head' role="button" data-toggle="popover" data-trigger="hover" title="<%= users[i].author.username %><%= users[i].author.sex %>" data-content="<%= users[i].author.resume %>"></a>
					</div>
				</div>
				<div class="col-md-7 col-sm-9">	
					<div class="comment">
						<div class="visible-xs text-left"> 
							<div class="head inline mr15">
								<a href="/users/<%= users[i].author._id %>"><img src='/imgs/<%= users[i].author.headicon %>' tabindex="0" data-placement="bottom" class='user_head' role="button" data-toggle="popover" data-trigger="hover" title="<%= users[i].author.username %><%= users[i].author.sex %>" data-content="<%= users[i].author.resume %>"></a>
							</div>
							<h3 class="inline c-title"><a href="/personal/<%= users[i]._id %>"><%= users[i].title %></a></h3>									
						</div>
						<h3 class="text-left hidden-xs c-title"><a href="/personal/<%= users[i]._id %>"><%= users[i].title %></a></h3>
						<div class="text-left c-context"><%= users[i].context %></div>
						<div class="info_box clearfix">
							<span class="time"><%= users[i].time.getFullYear()+'年 '+(users[i].time.getMonth()+1)+'月'+users[i].time.getDate()+'日 '+hours+':'+minutes+':'+seconds %></span>
							<span class="info">
								<i class="brose">浏览<span>(<%= users[i].browse %>)</span></i>
								<i class="message">留言<span>(<%= users[i].message %>)</span></i>
								<% if(locals.user._id == users[i].author._id){ %>
									<div style="display: inline-block;position: relative;">
									  <div class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="display: inline-block;">
									  	<span class="caret"></span>
									  </div>
									  <ul class="dropdown-menu">
									    <li><a href="/publish/edit/<%= users[i]._id %>">编辑</a></li>
									    <li><a href="/publish/delmsg/<%= users[i]._id %>">删除</a></li>
									  </ul>
									</div>								
								<% } %>
							</span>
						</div>
					</div>
				</div>
			</div>

		<% } %>
	</div>
	<% if(pages&&user_length>6){ %>
		<div aria-label="Page navigation" class="page">
		  <ul class="pagination">
		    <li>
		      <a href='/index/<%= index-1 %>' class='left' aria-label="Previous">
		        <span aria-hidden="true">&laquo;</span>
		      </a>
		    </li>
		    <% for(var i=0;i<pages;i++) { %>
		    	<li><a href='/index/<%= i+1 %>' class="page-btn"><%= i+1 %></a></li>
		    <% } %>
		    <li>
		      <a href='/index/<%= Number(index)+1 %>' class='right' aria-label="Next">
		        <span aria-hidden="true">&raquo;</span>
		      </a>
		    </li>
		  </ul>
		</div>
		<input type="hidden" value='<%= pages %>' class="pages">
		<input type="hidden" value='<%= index %>' class="currentpage">
	<% } %>
	<div class="top"></div>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/app.js"></script>
	<script>
		$(function(){
			var pages = $('.pages').val();
			var currentpage = $('.currentpage').val();
			if(currentpage == 1){
				$('.left').addClass('disabled');
				$('.left').click(function(event){
					event.preventDefault();
				})
			}else if(currentpage == pages){
				$('.right').addClass('disabled');
				$('.right').click(function(event){
					event.preventDefault();
				})				
			}
			$('.page-btn').eq(currentpage-1).addClass('page-active')
			console.log('总页数:'+pages+'当前页数:'+currentpage)
		})
	</script>
</body>
</html>